.paddingbuttons{
    margin: 10px;
}
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 60%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.popover{
    opacity: 1 !important;
}
.regions li{
    background-color: blue;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
body {
  font-family: Avenir Next, Avenir, SegoeUI, sans-serif;
}


form {
  margin: 2em 0;
}
/**
* Make the field a flex-container, reverse the order so label is on top.
*/

.field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
}
/**
* Add a transition to the label and input.
* I'm not even sure that touch-action: manipulation works on
* inputs, but hey, it's new and cool and could remove the
* pesky delay.
*/
label, input {
  transition: all 0.2s;
  touch-action: manipulation;
}

input {
    font-size         : 1.5em;
    border            : 0;
    border-bottom     : 1px solid #ccc;
    font-family       : inherit;
    -webkit-appearance: none;
    border-radius     : 0;
    padding           : 0;
    cursor            : text;
    background-color  : #95bce8;
    box-sizing        : border-box;
    border            : 2px solid #95bce8;
    border-radius     : 4px;
}

input:focus {
  outline: 0;
  border-bottom: 1px solid #666;
}

label {
  /* text-transform: uppercase; */
  letter-spacing: 0.05em;
}
/**
* Translate down and scale the label up to cover the placeholder,
* when following an input (with placeholder-shown support).
* Also make sure the label is only on one row, at max 2/3rds of the
* field—to make sure it scales properly and doesn't wrap.
*/
input:placeholder-shown + label {
    cursor          : text;
    max-width       : 66.66%;
    white-space     : nowrap;
    overflow        : hidden;
    text-overflow   : ellipsis;
    transform-origin: left bottom;
    transform       : translate(0, 2.625rem) scale(1.1);
    /* background-color: #95bce8; */
    color           : #ffffffc4;
    box-sizing      : border-box;
    /* border          : 2px solid #95bce8; */
    /* border-radius   : 4px; */
    font-weight     : 600;
    padding-left    : 10px;
}
/**
* By default, the placeholder should be transparent. Also, it should
* inherit the transition.
*/
::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}
/**
* Show the placeholder when the input is focused.
*/
input:focus::-webkit-input-placeholder {
  opacity: 1;
}
/**
* When the element is focused, remove the label transform.
* Also, do this when the placeholder is _not_ shown, i.e. when
* there's something in the input at all.
*/
input:not(:placeholder-shown) + label,
input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}
.aclas{
        color: white;
}
.tittle{
    text-align : center;
    color      : white;
    font-weight: 600;
    font-size  : xx-large;
}

.btn-text{
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.btn-text2{
    font-weight: 900;
    color:  #4885ed;
}
.container-center{
    padding-top:8%;
}
#logincontainer {

    width: 100%;
    height: 100%;
}
#logoLogin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    width: 50%;
    height: auto;
}

#imagenLogin {
    right: 0;
    position: absolute;
    height: 100%;
    background-image: url('/NIÑA.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
@media screen and (max-width:1000px) {
    #imagenLogin {
        display: none;
    }
    #logoLogin {
        margin-top: 2%;
    }
}
